/* CSS Variables */

/* The ROOT (for Day Mode) */
:root {
    --base-color: white;
    --text-color: black;
    --button-color: #181717;
    --button-words: white;
    --primary-color: #3a435d;
    --theme-switch-backgrd: #9fa4b3;
    --button-two: #131212;
    --pin-num-match-needed: #393636;
    --pins-match: #0AA51C;
    --pins-no-match: #DE391C;
}

/* Darkmode (for Nite Mode) */
.darkmode {
    --base-color: #1E1E1E;
    --text-color: white;
    --button-color: #181717;
    /* --button-color: #393636; */
    --button-words: white;
    --primary-color: #3a435d; 
    --theme-switch-backgrd: #15171d;
    --button-two: #131212;
    --pin-num-match-needed: #393636;
    --pins-match: #0AA51C;
    --pins-no-match: #DE391C;
}

/* ********** */
/* ********** */
/* Whole Page */
/* ********** */
/* ********** */
* {
    margin: 0;
    padding: 0;
}

/* Body */
body {
    min-height: 100vh;
    background-color: var(--base-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* DESKTOP */
@media screen and (min-width: 1200px) {

    /* Nav */
    #main_nav {
        width: 100%;
        display: flex;
        justify-content: right;
    }

    #theme_switch {
        margin: 0 2em 0 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
        padding: 0;
        border-radius: 50%;
        border: none;
        background-color: var(--theme-switch-backgrd);
        /* Sets the Theme Switch button to top right corner */
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    /* NOW set the order of the SVG */
    #theme_switch svg {
        fill: var(--primary-color);
    }

    /* Hide the SVG last child(day mode) */
    #theme_switch svg:last-child {
        display: none;
    }

    /* Invert this for (nite mode) */
    .darkmode #theme_switch svg:first-child {
        display: none;
    }

    /* Make Last child visible in (nitemode) */
    .darkmode #theme_switch svg:last-child {
        display: block;
    }

    /* Main Page */
    .container {
        font-family: Poppins;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Header Div */
    .header_div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Header */
    .header {
        color: var(--text-color);
        font-weight: bold;
        font-size: 2rem;
        text-align: center;
    }

    /* App State */
    .state {
        background-color: var(--button-two);
        color: var(--button-words);
        display: flex;
        justify-content: center;
        padding: .5em 3em;
        font-size: 1.2rem;
        /* To fit the two words in  */
        width: 60%;
    }

    /* Form */
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
        width: 30%;
        margin-top: 3em;
        /* background-color: blue; */
    }

    /* The Labels */
    label {
        font-size: 1.2rem;
    }

    /* Input Divs */
    .input_div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    /* Name Inputs */
    .name_in {
        position: relative;
        display: inline-block;
        border: 1px solid var(--text-color);
        background-color: var(--base-color);
        color: var(--text-color);
        padding: 1em;
        /* width: 100%; */
        font-size: 16px;
        cursor: pointer;
    }

    /* Pin # */
    .name_and_pin {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
    }

    /* All 4 Pin fields */
    .pin_field {
        /* display: grid;
        grid-template-columns: repeat(4, 1fr); 4 columns, equal width */
        display: flex;
        gap: 1vw;
        /* gap: 2.5vw; */
        width: 100%;
    }

    /* Each Pin field */
    .pin_put {
        background-color: var(--base-color);
        /* background-color: blue; */
        border: var(--text-color) 1px solid;
        padding: 1em 2em;
        /* padding-bottom: 100%; */
        position: relative;
        width: 20px;
        /* New Percentage width */
        width: 10%;
        color: var(--text-color);
        font-size: 1rem;
        text-align: center;
    }

    /* Remove focus on Input */
    input:focus {
        outline: none;
    }

    /* PINS */
    .pin_match_confirm {
        display: none;
    }

    /* Pins Match */
    .pin_match_confirm.entered {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Match */
    .match_ {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* No Match */
    .no_match {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .submit {
        background-color: var(--pin-num-match-needed);
        color: white;
        border: none;
        padding: 1em;
        font-weight: bold;
        cursor: pointer;
        font-size: .9rem;
        width: 100%;
        border-radius: 5px;
    }

    .submit.match {
        background-color: var(--button-two);
        color: var(--button-words);
        border: none;
        padding: 1em;
        font-weight: bold;
        cursor: pointer;
        font-size: .9rem;
        width: 100%;
        border-radius: 5px;
    }

    /* Create an Account */
    .create_acct {
        text-align: center;
        color: var(--text-color);
        font-weight: bold;
    }
    
    a {
        color: var(--button-words);
        text-decoration: none;
    }
}
