/* Font */
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noticia+Text&family=Playfair+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:wght@500;700;900&family=Satisfy&family=Shadows+Into+Light&family=Shadows+Into+Light+Two&display=swap');

/* CSS Variables */

/* The ROOT (for Day Mode) */
:root {
    --base-color: white;
    --text-color: black;
    --button-color: #181717;
    --button-words: white;
    --primary-color: #3a435d;
    --theme-switch-backgrd: #9fa4b3;
    --button-two: #131212;
    --pin-num-match-needed: #393636;
}

/* Darkmode (for Nite Mode) */
.darkmode {
    --base-color: #1E1E1E;
    --text-color: white;
    --button-color: #181717;
    /* --button-color: #393636; */
    --button-words: white;
    --primary-color: #3a435d; 
    --theme-switch-backgrd: #15171d;
    --button-two: #131212;
    --pin-num-match-needed: #393636;
}

/* ********** */
/* ********** */
/* Whole Page */
/* ********** */
/* ********** */
* {
    margin: 0;
    padding: 0;
}

/* Body */
body {
    min-height: 100vh;
    background-color: var(--base-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (min-width: 1200px) {

    /* Nav */
    #main_nav {
        width: 100%;
        display: flex;
        justify-content: right;
    }

    #theme_switch {
        margin: 0 2em 0 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
        padding: 0;
        border-radius: 50%;
        border: none;
        background-color: var(--theme-switch-backgrd);
        /* Sets the Theme Switch button to top right corner */
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    /* NOW set the order of the SVG */
    #theme_switch svg {
        fill: var(--primary-color);
    }

    /* Hide the SVG last child(day mode) */
    #theme_switch svg:last-child {
        display: none;
    }

    /* Invert this for (nite mode) */
    .darkmode #theme_switch svg:first-child {
        display: none;
    }

    /* Make Last child visible in (nitemode) */
    .darkmode #theme_switch svg:last-child {
        display: block;
    }

    /* Main Page */
    .container {
        font-family: Poppins;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 1px solid white; */
    }

    /* Header Div */
    .header_div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Header */
    .header {
        color: var(--text-color);
        font-weight: bold;
        font-size: 2.5rem;
        text-align: center;
    }

    /* App State */
    .state {
        /* background-color: var(--text-color); */
        background-color: var(--button-two);
        /* Make text match the base */
        color: var(--button-words);
        display: flex;
        justify-content: center;
        padding: .5em 3em;
        font-size: 1.2rem;
        width: 50%;
    }

     /* Form */
     form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3em;
        width: 30%;
        margin-top: 3em;
        /* background-color: blue; */
    }

     /* The Labels */
     label {
        font-size: 1.2rem;
    }

    /* Input Divs */
    .input_div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    /* Dropdown */
    .dropdown {
        position: relative;
        display: inline-block;
        /* Border and Padding HERE */
        border: 1px solid var(--text-color);
        padding: 0 1em 0 0;
        /* width: 100%; */

    }

    /* Dropdown Button (The Select) */
    #dropdown_btn {
        background-color: var(--base-color);
        border: none;
        color: var(--text-color);
        padding: 1em;
        width: 100%;
        font-size: 16px;
        cursor: pointer;
        display: flex;
        justify-content: right;
    }

    /* Down Arrow */
    img {
        width: 25px;
        height: 20px;
    }

    /* Name List */
    .name_list {
        display: none;
        position: absolute;
        background-color: var(--button-two);
        /* min-width: 160px; */
        /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
        z-index: 1;
        color: var(--button-words);
        font-family: Poppins;
        width: 100%;
    }

    .name_list.show {
        display: block;
    }

    /* Pin # */
    .name_and_pin {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
    }

    /* All 4 Pin fields */
    .pin_field {
        /* display: grid;
        grid-template-columns: repeat(4, 1fr); 4 columns, equal width */
        display: flex;
        gap: 1vw;
        gap: .3vw;
        width: 100%;
    }

    /* Each Pin field */
    .pin_put {
        background-color: var(--base-color);
        /* background-color: blue; */
        border: var(--text-color) 1px solid;
        padding: 1em 2em;
        position: relative;
        /* New Percentage width */
        width: 100%;
        color: var(--text-color);
        font-size: 1rem;
        text-align: center;
    }

    /* Remove focus on Input */
    input:focus {
        outline: none;
    }

    /* Submit Button */
    .submit {
        width: 100%;
        background-color: var(--button-two);
        background-color: var(--pin-num-match-needed);
        color: var(--button-words);
        border: none;
        padding: 1em;
        font-weight: bold;
        cursor: pointer;
        font-size: .9rem;
    }

    /* Submit filled */

    /* Create an Account */
    .create_acct {
        text-align: center;
        color: var(--text-color);
        font-weight: bold;
    }
    
    a {
        color: var(--button-words);
        text-decoration: none;
    }
}

/* MOBILE (Portrait) */
@media screen and (max-width: 800px) {
     /* Nav */
     #main_nav {
        width: 100%;
        display: flex;
        justify-content: right;
    }

    #theme_switch {
        margin: 0 2em 0 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
        padding: 0;
        border-radius: 50%;
        border: none;
        background-color: var(--theme-switch-backgrd);
        /* Sets the Theme Switch button to top right corner */
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    /* NOW set the order of the SVG */
    #theme_switch svg {
        fill: var(--primary-color);
    }

    /* Hide the SVG last child(day mode) */
    #theme_switch svg:last-child {
        display: none;
    }

    /* Invert this for (nite mode) */
    .darkmode #theme_switch svg:first-child {
        display: none;
    }

    /* Make Last child visible in (nitemode) */
    .darkmode #theme_switch svg:last-child {
        display: block;
    }

    /* Main Page */
    .container {
        font-family: Poppins;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        /* border: 1px solid white; */
    }

    /* Header Div */
    .header_div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Header */
    .header {
        color: var(--text-color);
        font-weight: bold;
        font-size: 2rem;
        text-align: center;
    }

    /* App State */
    .state {
        /* background-color: var(--text-color); */
        background-color: var(--button-two);
        /* Make text match the base */
        color: var(--button-words);
        display: flex;
        justify-content: center;
        padding: .5em 3em;
        font-size: 1rem;
        width: 50%;
    }

     /* Form */
     form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3em;
        width: 100%;
        margin-top: 3em;
        /* background-color: blue; */
    }

     /* The Labels */
     label {
        font-size: 1rem;
    }

    /* Input Divs */
    .input_div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    /* Dropdown */
    .dropdown {
        position: relative;
        display: inline-block;
        /* Border and Padding HERE */
        border: 1px solid var(--text-color);
        padding: 0 1em 0 0;
        /* width: 100%; */

    }

    /* Dropdown Button (The Select) */
    #dropdown_btn {
        background-color: var(--base-color);
        border: none;
        color: var(--text-color);
        padding: 1em;
        width: 100%;
        font-size: 12px;
        cursor: pointer;
        display: flex;
        justify-content: right;
    }

    /* Down Arrow */
    img {
        width: 25px;
        height: 20px;
    }

    /* Name List */
    .name_list {
        display: none;
        position: absolute;
        background-color: var(--button-two);
        z-index: 1;
        color: var(--button-words);
        font-family: Poppins;
        width: 100%;
    }

    .name_list.show {
        display: block;
    }

    /* Pin # */
    .name_and_pin {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
    }

    /* All 4 Pin fields */
    .pin_field {
        display: flex;
        gap: 1vw;
        width: 100%;
    }

    /* Each Pin field */
    .pin_put {
        background-color: var(--base-color);
        border: var(--text-color) 1px solid;
        width: 100%;
        position: relative;
        height: 2.3em;
        font-size: 1rem;
        text-align: center;
        color: var(--text-color);
    }

    /* Remove focus on Input */
    input:focus {
        outline: none;
    }

    /* Submit Button */
    .submit {
        width: 100%;
        background-color: var(--pin-num-match-needed);
        color: white;
        border: none;
        padding: 1em;
        font-weight: bold;
        cursor: pointer;
        font-size: .9rem;
        border-radius: 5px;
    }

    /* Create an Account */
    .create_acct {
        text-align: center;
        color: var(--text-color);
        font-size: .8em;
        font-weight: bold;
    }
    
    a {
        color: var(--button-words);
        text-decoration: none;
    }
}
